
.lose-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  animation: slideIn 1s ease-out;
  transform: translate(-50%, -50%);
  color: #e74c3c;
  padding: 20px;
  text-align: center;
  
}

.lose-screen h1 {
  margin-bottom: 20px;
  font-size: 4rem;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);

  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}